* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: black;
  }
  
  .topnav {
    overflow: hidden;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .topnav a {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav a:first-child {
    padding: 0px 30px;
    font-size: 50px;
    color: white;
  }
  
  .header-images {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .header-welcome-text {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  .header-logo-text {
    font-size: 62px;
  }
  
  .header-under-text {
    font-size: 24px;
  }
  .reservation-button {
    font-size: 20px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px;
    padding: 6px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #main-container {
    width: 80%;
  
    margin: auto;
  }
  .section-header {
    text-align: center;
    padding: 40px;
    font-size: 36px;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card-categories {
    border-radius: 8px;
    background-color: white;
    margin: 5px;
    width: 200px;
    height: 400px;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(231, 231, 231);
    overflow: scroll;
  }
  .card-categories:hover {
    transform: scale(1.1, 1.1);
  }
  
  .card-categories img {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    opacity: 1;
  }
  .card-text-container {
    font-size: 18px;
    text-align: center;
    padding: 8px;
  }
  .input-categories {
    margin: 80px;
    display: flex;
    justify-content: center;
  }
  .search-categories {
    width: 50%;
    -webkit-transition: width 0.35s ease-in-out;
    transition: width 0.35s ease-in-out;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .search-categories:focus {
    width: 70%;
  }
  
  .about-container {
    position: relative;
    height: 600px;
    border: 1px solid #ccc;
    margin: 30px;
  }
  .left-about-container {
    position: absolute;
    width: 50%;
    height: 100%;
  }
  .left-about-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .right-about-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 600px;
  }
  .right-about-text {
    text-align: center;
  
    margin: 20%;
  }
  .right-about-container h2 p {
    margin: 30px;
  }
  
  /*Contact*/
  #map {
    height: 400px;
    margin: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  
  form {
    position: relative;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  #input-name,
  #input-email,
  #input-subject {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 4px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    border: 1px solid #ccc;
  }
  
  #input-submit {
    color: white;
    background: black;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin-top: 1em;
    width: 100%;
  }
  
  textarea {
    height: 126px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin-top: 1em;
    right: 0;
    width: 100%;
  }
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  
  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }
  
  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  .cf:after {
    clear: both;
  }
  .cf{
    width: 95%;
    
  }
  
  /*Footer*/
  footer {
    color: white;
    width: 100%;
    background-color: rgb(70, 69, 69);
  }
  
  .footer-columns {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer-column {
    padding: 10px;
  
    margin: 0px;
  }
  .footer-column p {
    padding: 6px;
    font-size: 14px;
  }
  .footer-column a {
    color: white;
  }
  
  .last-footer-section {
    text-align: center;
  }
  .last-footer-section p {
    padding: 4px;
    font-size: 12px;
  }
  
  .fa-instagram {
    padding: 4px;
  }
  .fa-facebook {
    padding: 4px;
  }
  .fa-twitter {
    padding: 4px;
  }
  
  /* Media */
  @media screen and (max-width: 1020px) {
    .card-categories {
      margin: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    nav {
      width: 100%;
    }
  
    .logo-text {
      font-size: 40px;
      color: white;
    }
  
    .header-logo-text {
      font-size: 62px;
    }
  
    .header-under-text {
      font-size: 24px;
    }
    .reservation-button {
      font-weight: 900;
      width: 300px;
      font-size: 20px;
      border: none;
  
      background-color: white;
      border-radius: 10px;
      margin: 10px;
      padding: 8px 16px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    #main-container {
      width: 100%;
  
      margin: auto;
    }
    .section-header {
      text-align: center;
      padding: 40px;
      font-size: 36px;
    }
    .categories {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .card-categories {
      border-radius: 8px;
      background-color: white;
      margin: auto;
      margin-top: 10px;
      width: 50%;
      transition: all 0.3s ease-in-out;
      border: 1px solid rgb(231, 231, 231);
    }
    .card-categories:hover {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    }
  
    .card-categories img {
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      opacity: 1;
    }
    .card-text-container {
      font-size: 18px;
      text-align: center;
      padding: 8px;
    }
    .input-categories {
      margin: 80px;
      display: flex;
      justify-content: center;
    }
    .search-categories {
      width: 50%;
      -webkit-transition: width 0.35s ease-in-out;
      transition: width 0.35s ease-in-out;
      font-size: 20px;
      border: none;
      border-bottom: 1px solid #ccc;
    }
  
    .search-categories:focus {
      width: 100%;
    }
  
    .about-container {
      position: relative;
      height: 550px;
      border: 1px solid #ccc;
      margin: 30px;
    }
    .left-about-container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .left-about-container img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .right-about-container {
      position: absolute;
      top: 200px;
      left: 0;
  
      width: 100%;
      height: 200px;
    }
    .right-about-text {
      text-align: center;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
  
      overflow-wrap: break-word;
    }
    .right-about-container h2 {
      margin: 30px;
    }
  
    /*Contact*/
    #map {
      height: 200px;
  
      margin: 30px;
    }
  
    footer {
      width: 100%;
      bottom: 0;
    }
    .footer-column p {
      padding: 6px;
    }
    .footer-column:first-child {
      overflow: hidden;
      white-space: nowrap;
      width: 50%;
    }
    .footer-column:last-child {
      border-left: 1px solid;
    }
    .last-footer-section {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      font-size: 30px;
      position: absolute;
      right: 0;
      display: block;
    }
    .topnav {
      overflow: hidden;
      display: block;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media screen and (max-width: 400px) {
    .backgroundimage img {
      display: none;
    }
    .backgroundimage {
      background-color: rgb(206, 206, 206);
      height: 100vh;
    }
  }
